<template lang="jade">
  div

    div(@click="add") count {{blah}} / {{solo}}

    a(href="", @click.prevent="lol") blahBonf

    pre {{vacancies}}
</template>

<script>
import { mapActions, mapState, mapGetters} from 'vuex';

export default {
  
  computed: {
     ...mapState(
       ['vacancies']
     ),
     ...mapGetters([
       'blah', 'solo'
     ])
  },
  methods: {
    ...mapActions({
      add: 'increment'
   }),
    lol () {
      this.$emit('blahBon', this.blah);

      function get(url, e) {
          return new Promise(function (resolve) {
            setTimeout( () => {
              resolve(url);
            }, e)
          });
      };


    function put(url) {
        return new Promise(function (resolve) {
          resolve(url);
        });
    };

    function getVac() {
      return fetch('http://rabota.ngs.ru/api/v1/vacancies/')
        .then((response) => {
          return response.json();
        })
        .catch((e) => {

          throw new Error('Bzdec');
        })
    }

      async function _initData(a, time){
          try {
              const {vacancies} = await getVac();

              let [aa, bb] = await Promise.all([put(a), get(a, 300)]);

              return vacancies;

          } catch (e) {
              console.error('a', e);
          }
      }

      _initData('asdas', 100);
    }
  }
}
</script>
