<template lang="jade">
  SimpleComponent
</template>

<script>

import SimpleComponent from './SimpleComponent.vue';

export default {
  name: 'Page',
  components: {
    SimpleComponent
  }
}
</script>

<style lang="sass">
</style>
